body{
  width: 1080px;
  height: 700px;
  background-color: rgb(41,86,154);
}
.luna{
  width: 100px;
  height: 100px;
  background-color: rgb(41,86,154);
  margin-top: 20px;
  padding: 0;
  border-radius: 100%;
  box-shadow: 35px 5px 0 rgb(208,163,48);
  transform: rotate(25deg);
  margin-left: 80%;

  animation-name: luna;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
  @keyframes luna{
    0%{
    top: 20px;
    left: 800px;
    }
    50%{
    top: 20px;
    left: 1300px;
    }
    100%{
    top: 20px;
    left: -50px;
    }
  }
#nube1{
  width: 150px;
  height: 100px;
  position: relative;
  top:40px;
  left: -50px;
  background-color: rgb(212,212,212);
  border-radius: 70px 70px 35px 40px;
  box-shadow: 5px 5px 10px rgb(92,151,189);

  animation-name: nube;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
  @keyframes nube{
    0%{
    top: 40px;
    left: -50px;
    }
    100%{
    top: 30px;
    left: 1000px;
    }
  }
#nube1::before{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 100px 70px 100px 90px;
  position: relative;
  top: 30px;
  left: -11px;
  box-shadow: -5px -2px 10px rgb(92,151,189);
}
#nube1::after{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 10px 100px 100px 60px;
  position: relative;
  top: 40px;
  left: 50px;
  box-shadow: 5px 5px 10px rgb(92,151,189);
}
#nube2{
  width: 150px;
  height: 100px;
  position: relative;
  left: 1000px;
  top: 50px;
  background-color: rgb(212,212,212);
  border-radius: 70px 70px 35px 40px;
  box-shadow: 5px 5px 10px rgb(92,151,189);

  animation-name: nube2;
  animation-duration: 8s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 500;
  animation-direction: alternate;
}
  @keyframes nube2{
    0%{
    top: 50px;
    left: 1000px;
    }
    100%{
    top: 50px;
    left: -50px;
    }
  }
#nube2::before{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 100px 70px 100px 90px;
  position: relative;
  top: 30px;
  left: -11px;
  box-shadow: -5px -2px 10px rgb(92,151,189);
}
#nube2::after{
  content: "";
  background-color: rgb(212,212,212);
  padding: 30px;
  border-radius: 10px 100px 100px 60px;
  position: relative;
  top: 40px;
  left: 50px;
  box-shadow: 5px 5px 10px rgb(92,151,189);
}
.pico1{
  position: relative;
  left: 350px;
  top: 0px;
  width: 0;
  height: 0;
  border-right: 300px solid transparent;
  border-top: 160px solid transparent;
  border-left: 300px solid transparent;
  border-bottom: 320px solid #ee5a24;
}
.pico2{
  position: relative;
  left: 750px;
  top: -470px;
  width: 0;
  height: 0;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom: 270px solid #ee9124;
}
.pico3{
  position: relative;
  left: 200px;
  top: -940px;
  width: 0;
  height: 0;
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-left: 200px solid transparent;
  border-bottom: 270px solid #ee9124;
}
.pico4{
  position: relative;
  left: -40px;
  top: -1390px;
  width: 0;
  height: 0;
  border-right: 180px solid transparent;
  border-top: 200px solid transparent;
  border-left: 180px solid transparent;
  border-bottom: 250px solid #eeb624;
}
.petal1{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  position: relative;
  left: 25px;
  top:70px;
}
.petal2{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  transform: rotate(60deg);
  position: relative;
  left: 35px;
  top:20px;
}
.petal3{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  transform: rotate(120deg);
  position: relative;
  left: 10px;
  top:-38px;
}
.petal4{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  transform: rotate(180deg);
  position: relative;
  left: -45px;
  top:-150px;
}
.petal5{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  transform: rotate(240deg);
  position: relative;
  left: -55px;
  top:-298px;
}
.petal6{
  width: 100px;
  height: 100px;
  background-color: rgb(127,207,85);
  border-radius: 100px 0 100px 0;
  transform: rotate(300deg);
  position: relative;
  left: -26px;
  top:-440px;
}
.centro{
  width: 50px;
  height: 50px;
  background-color: rgb(223,222,73);
  border-radius: 25px;
  position: relative;
  top: -460px;
  left: 15px;
}
.palo{
  width: 20px;
  height: 200px;
  background-color: rgb(126,99,57);
  position:relative;
  top: 400px;
  left: 29px;
}
.flor{
  position: relative;
  left: 250px;
  top: -1990px;
}
