
@font-face {
    font-family:"Lemon/Milk";
    src:url("LemonMilk.woff2") format("woff2"),url("LemonMilk.woff") format("woff"),url("LemonMilk.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        