body{
  background-color:#FFF;
  color:#666;
  margin:0;
  padding:0;
  font-size: 18px;
  line-height: 22px;
  font-family:"Helvetica Neue", "Arial", "sans-serif";
}
h1,h2{
  width:400px;
  margin:0;
  padding:0;
  text-align: center;
}
h1{
  font-size: 2.5em;
  line-height: 1em;
}
h2{
  font-size: 2em;
  line-height: 1em;
}
p{
  width:400px;
}
ul{
  width:400px;
  overflow: inherit;
}
li{
  list-style-type: none;
}
div{
  padding-left: 50px;
  overflow: hidden;
}
#primer{
background-color: #FFF;
}
#primer img{
padding-top: 15px;

}
#menu li{
  display: inline;
  margin: 0 10px;
}
#menu{
  width: 93%;
  margin: 0 auto;
  padding: 0px;
  text-align: right;
  display: inline-block;

}
#segon{
  background-color: #333;
  color: #CCC;
}
#segon h1{
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}
#segon div{
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10%;
}
#segon ul{
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 10%;
}
#tercer{
  background-image:url("img/01_coneix.png");
  background-repeat: no-repeat;
  background-position:550px;
  height:550px;
  background-color: #6C3;
  color: #CCC;
}
#quart{
  background-image:url("img/02_lloc.png");
  background-repeat: no-repeat;
  background-position:500px;
  height:641px;
  background-color: #FFF;
}
#cinque{
  background-image:url("img/03_util.png");
  background-repeat: no-repeat;
  background-position:500px;
  height:500px;
  background-color: #333;
}
#sise{
  background-image:url("img/01_coneix.png");
  background-repeat: no-repeat;
  background-position:500px;
  height:550px;
  background-color: #EEECEE;
}
#sete{
  background-image:url("img/05_rapid.png");
  background-repeat: no-repeat;
  background-position:500px;
  height:550px;
  background-color: #6C3;
}
#vuite{
  background-color: #FFF;
  background-image:url("img/06_facil.png");
  background-repeat: no-repeat;
  height:643px;
  background-position: 500px 30px;
}
#nove{
  height: 150px;
  background-color: #333;
  text-align: center;
  padding: 0px;
}
#nove img{
  margin: 50px 25px;
}
.txtverd{
  color: #6C3;
}
.txtgris{
  color: #CCC;
}
.inici{
  text-align:right;
  width: 100%;
  font-size: 72px;
  font-weight: 900;
  margin:0;
  padding:0;
  padding-top: 36px;
}
a{
  text-decoration: none;
}
a:link{
  color: #CCC;
}
a:visited{
  color: #CCC;
}
a:hover{
  color: #666;
}
a:active{
  color: #6C3;
}
.fonsgris{
  background-color: #EEECEE;
  margin: 0;
  padding: 0;
}
.fonsclar{
  background-color: #DDD;
  margin: 0;
  padding: 0;
}
.centrat{
  margin: 0 auto;
  padding: 0;
  width: 80%;
}
.centrat p{
  width: 100%;
}
.centrat h1{
  width: 100%;
  margin-bottom: 1.2em;
  font-size: 1.5em;
  line-height: 1.2em
}
.centrat h2{
  width: 100%;
  margin-top: 1.2em;
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: 150;
}
.centrat h3{
  width: 100%;
}
.centrat img{
  width: 100%;
  height: auto;
}
.caixa{
  height: 200px;
  width: 31%;
  margin: 1%;
  padding: 0;
  float: left;

}
#boto{
  color: #666;
  font-size: 60px;
  position: fixed;
  bottom: -45px;
  right: -350px;
}
.fa{
  color: #6C3;
  font-size: 3em;

}
#esq{
  width: 25.5%;

  text-align: left;
  margin: 0;
  padding: 0;
}
#enlace{
  width: 100%;
  background-color: #6C3;
  padding: 15px;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
}
.kern{
  letter-spacing: -0.1em;
}
#Inici{
  background-color: #6C3;
  border-radius: 5px;
}
#telefon{
  background-image: url(img/frame-iphone5.png);
  background-color: #DDD;
  height: 571px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  padding: 0;
}
#registre{
  width: 251px;
  margin: 0 auto;
  padding: 0 0 0px;
  margin-top: 100px;
}
input{
  text-align: center;
  margin: 2px;
  margin-left: 17px;
  height: 33px;
  width: 218px;
  border: outset 2px;
  margin-bottom: 4px;

}
#google{
  float: left;
  background-color: red;
  padding-left: 19px;
  padding-right: 19px;
  padding-top:8px;
  padding-bottom: 6px;
  margin-right: 8px;
  margin-left: -22px;
  border-radius: 10px;
  border: outset 2px;

}
#facebook{
  float: left;
  background-color: blue;
  padding: 8px;
  padding-bottom: 6px;
  margin-left: 8px;
  border-radius: 10px;
  border: outset 2px;

}

#titulouno{
  margin-left: 19px;
  font-size: 24px;
  margin-top: 50px;

}
#subtitulouno{
  font-size: 14px;
  text-align: center;
  margin-left: 7px;
  margin-right: 6px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0;
}
h5{
  font-size: 11px;
  text-align: center;
  margin-left: 40px;
  margin-right: 10px;
  margin-top: -5px;
  margin-bottom: -10px;
  padding: 0;
  line-height: 12px;

}
#term{
  margin-left: 17px;
  margin-bottom: -24px;
  padding-bottom: 10px;

}
#botreg{
  margin-top: -1px;
  background-color: #6C3;
  border-radius: 7px;
  width: 217px;
  height: 35px;
  margin-left: 17px;
  font-size: 14px;
  color: #EECCEE;
  border: outset 2px;
}
#color{
  background-color: #6C3;
  border-radius: 5px;
}
